%YAML 1.1
---

vars:
  address-groups:
    HOME_NET: "[{{ suricata_home_net }}]"
    EXTERNAL_NET: "!$HOME_NET"

af-packet:
  - interface: {{ suricata_interface }}
    cluster-id: 99
    cluster-type: cluster_flow
    defrag: yes
    use-mmap: yes
    tpacket-v3: yes

outputs:
  - fast:
      enabled: yes
      filename: fast.log
      append: yes

  - eve-log:
      enabled: yes
      filetype: regular
      filename: eve.json
      types:
        - alert
        - http
        - dns
        - tls
        - ssh
        - flow

logging:
  default-log-level: notice